---
import { Image } from "astro:assets";
import invitations from "../../data/invitations.json";
import invitationPic from "../../images/invitation-pic.jpg";
import closedLetter from "../../images/closed-letter.jpg";
import arrow from "../../images/arrow.png";
import letterRectangle from "../../images/letter-rectangle.png";
import whiteSeal from "../../images/white-seal.png";

export async function getStaticPaths() {
  return invitations.map((guest) => ({
    params: { slug: guest.slug },
    props: { guest },
  }));
}

const { guest } = Astro.props;
const totalCircles = 5;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boda Heizel & Greudys</title>
    <meta property="og:title" content="Boda H & G" />
    <meta
    property="og:description"
    content={`Boda Heizel & Greudys. Invitación para ${guest.name}`}
    />
    <meta property="og:image" content="https://heizel-y-greudys.vercel.app/invitation-pic.jpg?v=1" />
    <meta property="og:url" content="https://heizel-y-greudys.vercel.app" />
    <meta property="og:type" content="website" />

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Boda Heizel & Greudys">
    <meta name="twitter:description" content="Invitación para la boda de Heizel & Greudys">
    <meta name="twitter:image" content="https://heizel-y-greudys.vercel.app/invitation-pic.jpg?v=1">

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- Google Fonts: Cormorant Infant -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Infant&family=Italianno&family=Asul:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="max-w-screen-sm mx-auto px-4">
      <div class="relative">
        <Image
          src={invitationPic}
          alt="invitation-pic"
          class="h-full object-cover w-full"
        />
        <h1 class="absolute bottom-[-30px] text-5xl font-italianno text-center w-full bg-opacity-70 py-1 bg-white text-zinc-700">
          Nuestra Boda
        </h1>
      </div>
      <h2 class="mt-6 font-asul text-2xl text-center text-zinc-700">
        GREUDYS & HEIZEL
      </h2>
      <h3 class="mt-4 text-center font-asul text-lg text-zinc-700">
        26-ABRIL-2025
      </h3>
      <a href="/">
        <div class="relative mx-12 mb-24">
          <Image
            src={closedLetter}
            alt="closed-letter"
            class="h-full object-cover w-full drop-shadow-md shadow-md rounded-lg"
          />
          <div class="absolute top-[40%] left-1/2 transform -translate-x-1/2 w-1/4 z-10">
            <Image src={whiteSeal} alt="white-seal" class="w-100" />
          </div>
          <div class="absolute top-[45%] left-[50%] w-1/2">
            <div class="relative">
              <Image src={letterRectangle} alt="rectangle" class="w-full" />
              <div
                class="absolute flex items-center font-asul text-lg text-zinc-700 text-center top-[5%] right-0 pr-2 h-[70%] w-[70%]"
              >
                <p class="font-asul text-sm text-zinc-700 text-center">
                  {guest.name}
                </p>
              </div>
            </div>
          </div>
          <div class="absolute top-[60%] left-[25%] justify-center">
            <Image src={arrow} alt="arrow" class="w-1/2" />
          </div>
          <div
            class="absolute bottom-[-5rem] left-1/2 transform -translate-x-1/2 text-center w-3/4"
          >
            <p class="font-asul text-sm uppercase text-zinc-700">
              Toca para abrir invitación
            </p>
          </div>
        </div>
      </a>
      <p class="my-4 font-asul text-zinc-700 text-md text-center font-bold uppercase">
        Hemos reservado
      </p>
      <div class="flex justify-center space-x-4 my-2">
        {
          Array.from({ length: totalCircles }).map((_, index) => (
            <div
              class={`w-4 h-4 rounded-full border-2 border-gray-300 ${
                index < guest.tickets ? "bg-gray-300" : ""
              }`}
            />
          ))
        }
      </div>
      <div class="font-asul text-center text-zinc-700 text-md">
        {guest.tickets < 10 ? `0${guest.tickets}` : guest.tickets} PASES
      </div>
      <p class="my-4 font-asul text-zinc-700 text-md text-center font-bold uppercase">
        En su honor
      </p>
    </div>
  </body>
</html>
