---
import { Image } from "astro:assets";
import ImageCarousel from "../components/ui/Carousel.astro";
import giftImage from "../images/regalo.jpg";
import cascadeImage from "../images/cascada.jpg";
import wedding1 from "../images/wedding1.webp";
import wedding2 from "../images/wedding2.webp";
import park from "../images/park.webp";
import weddingPlace from "../images/agua-santa.webp";
import dressMan from "../images/dress-man.webp";
import dressWoman from "../images/dress-woman.webp";
import Countdown from "../components/Countdown.astro";
import DateText from "./ui/DateText.astro";
import DayText from "./ui/DayText.astro";
import HourText from "./ui/HourText.astro";
import { Icon } from "astro-icon/components";
import SectionTitle from "./SectionTitle.astro";

const images = [
  {
    src: wedding1,
    alt: "Imagen 1",
    caption: "Un amor",
  },
  {
    src: wedding2,
    alt: "Imagen 2",
    caption: "Para toda la vida",
  },
];

const place = {
  name: "Agua Santa",
  address: "Agua Viva, Las Cuibas, Cabudare",
  image: weddingPlace,
  googleMapsLink: "https://maps.app.goo.gl/JyYVbNDrPAdVMYHG7",
};

const confirmationLink = {
  url: "https://forms.gle/e1UCTdMFkSbYAZde7",
  text: "Confirmar aquí",
};

const giftOptions = [
  {
    name: "Binance",
    details: "greudysgodoy@gmail.com",
    icon: "binance",
  },
  {
    name: "Pago Móvil",
    details: "04120734022, 26831421 Mercantil",
    icon: "mobile",
  },
  {
    name: "Efectivo",
    details: "Puedes entregarlo en persona el día del evento",
    icon: "dollar",
  },
];
const weddingDate = new Date(Date.UTC(2025, 3, 26, 21, 0, 0));
---

<div id="welcome">
  <!-- Sección principal -->
  <section class="bg-gray-light py-4">
    <div class="flex justify-center">
      <h1 class="text-2xl tracking-wider mb-0 text-gray-700">
        Boda Heizel y Greudys
      </h1>
    </div>
  </section>

  <section>
    <ImageCarousel images={images} />
  </section>

  <section class="bg-gray-light py-4">
    <div class="flex justify-center">
      <hr class="my-4 border-lila border-t-2 w-12 text-center" />
    </div>

    <p class="text-xl tracking-wider text-center font-rosario uppercase px-4">
      Hay momentos en la vida que son especiales...
    </p>
    <div class="flex justify-center">
      <hr class="my-4 border-lila border-t-2 w-12 text-center" />
    </div>
  </section>

  <section>
    <div class="relative w-full h-[70vh]">
      <!-- Imagen -->
      <div
        class="absolute inset-0 transition-opacity duration-1000 ease-in-out"
      >
        <Image
          src={giftImage}
          alt={"regalo"}
          class="w-full h-full object-cover"
          loading="eager"
        />
        <!-- Contenedor de texto -->
        <div
          class="absolute inset-0 bg-black bg-opacity-30 flex flex-col justify-end items-center pb-12"
        >
          <p
            class="text-gray-200 text-lg text-center m-5 uppercase font-extralight font-rosario tracking-widest"
          >
            Compartirlos con las personas que quieres
          </p>
          <p
            class="text-gray-200 text-5xl text-center mx-4 uppercase font-extralight font-rosario tracking-wider"
          >
            Los convierte inolvidables
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-gray-light py-4">
    <SectionTitle title="Es por eso que te invitamos" />

    <!-- Imagen y texto debajo -->
    <div class="flex flex-col items-center">
      <div class="flex justify-center items-center">
        <div class="relative mx-8 rounded-xl">
          <Image
            src={cascadeImage}
            alt="cascada"
            class="w-full h-full object-cover rounded-xl"
          />
        </div>
      </div>
      <p class="font-parisienne text-5xl mt-4 text-center">A nuestra Boda</p>
    </div>
  </section>
  <section class="bg-gray-light py-4 pt-5">
    <p
      class="text-xl tracking-wider text-center font-rosario uppercase px-4 mb-4"
    >
      Reserva la fecha...
    </p>
    <div class="flex flex-col items-center">
      <div class="relative">
        {/* Imagen */}
        <Image src={park} alt="cascada" class="w-full h-full object-cover" />
        {/* Capa oscura */}
        <div class="absolute inset-0 bg-black bg-opacity-50 rounded-lg"></div>
        {/* Texto */}
        <div class="absolute bottom-0">
          <p
            class="mb-4 font-rosario text-xl px-5 text-white uppercase opacity-75"
          >
            <DayText targetDate={weddingDate} />
          </p>
          <p class="mb-4 text-4xl px-5 text-white uppercase">
            <DateText targetDate={weddingDate} />
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-gray-light py-8">
    <div class="text-center">
      <p class="text-3xl font-parisienne text-gray-700 mb-6">
        Faltan para el gran día:
      </p>
      <Countdown targetDate={weddingDate} />
    </div>
  </section>
  <section class="bg-gray-light py-4">
    <SectionTitle title="Ceremonia y recepción" />

    <div
      class="flex flex-col items-center bg-white p-4 rounded-lg shadow-sm mx-3"
    >
      <div class="flex justify-center items-center">
        <div class="relative w-full">
          <Image
            src={place.image}
            alt="cristal"
            class="w-full object-cover rounded-lg mx-auto"
          />
        </div>
      </div>
      <p class="font-rosario text-2xl text-center">
        {place.name}
      </p>
      <p class="text-2xl text-center">
        <HourText targetDate={weddingDate} />
      </p>
      <p class="font-rosario text-xl mt-0 mb-2 text-center">
        {place.address}
      </p>
      <a
        class="bg-lila-light border border-lila text-lila-dark rounded-full px-3 py-2"
        href={place.googleMapsLink}
        target="_blank"
      >
        Ver ubicación
      </a>
    </div>
  </section>
  <section class="bg-lila-light py-4">
    <div class="flex justify-center my-4">
      <div class="w-1/4 aspect-square mx-2">
        <Image
          src={dressMan}
          alt="cristal"
          class="w-full h-full object-cover rounded-full"
        />
      </div>
      <div class="w-1/4 aspect-square mx-2">
        <Image
          src={dressWoman}
          alt="cristal"
          class="w-full h-full object-cover rounded-full"
        />
      </div>
    </div>

    <p
      class="text-xl tracking-wider text-center font-rosario uppercase px-4 mx-12"
    >
      Código de vestimenta
    </p>
    <p class="text-center font-rosario text-4xl">Semi formal</p>
    <p class="text-center">Nota: El blanco está reservado para la novia</p>
  </section>
  <section class="bg-gray-light py-4">
    <SectionTitle title="Itinerario" />

    <!-- Imagen y texto debajo -->
    <div class="bg-lila-light text-lila-dark text-center p-4 mx-5 rounded-lg">
      <div class="grid grid-cols-2 gap-4">
        <div class="row-span-1">Ceremonia</div>
        <div class="row-span-1">5:00 pm</div>
        <div class="row-span-1">Recepción</div>
        <div class="row-span-1">6:00 pm</div>
        <div class="row-span-1">Cena</div>
        <div class="row-span-1">7:00 pm</div>
        <div class="row-span-1">Baile</div>
        <div class="row-span-1">8:00 pm</div>
        <div class="row-span-1">Despedida</div>
        <div class="row-span-1">10:00 pm</div>
      </div>
    </div>
  </section>
  <section class="bg-gray-light py-4">
    <SectionTitle title="Confirmación de asistencia" />

    <div class="flex flex-col items-center">
      <p class="font-rosario text-lg my-2 text-center mx-12">
        Por favor confirma tu asistencia 15 días antes del evento
      </p>
      <a
        class="bg-lila-light border border-lila text-lila-dark rounded-full px-3 py-2"
        href={confirmationLink.url}
        target="_blank">{confirmationLink.text}</a
      >
    </div>
  </section>
  <section class="bg-lila-light py-4 px-3">
    <SectionTitle title="Regalos" />
    <p class="font-rosario text-center mb-2">
      Nuestro mayor regalo es tu presencia, pero si deseas obsequiarnos algo,
      puedes hacerlo a través de las siguientes opciones:
    </p>
    <div class="bg-white p-4 rounded-lg mx-3">
      {
        giftOptions.map((option) => (
          <div class="flex items-center mb-4">
            <div class="w-8 h-8 mr-4">
              <Icon name={option.icon} size={40} class="text-lila-dark" />
            </div>
            <div>
              <h3 class="text-lila-dark text-lg font-rosario">{option.name}</h3>
              <p class="text-gray-700">{option.details}</p>
            </div>
          </div>
        ))
      }
    </div>
  </section>
  <section class="bg-gray-light py-4">
    <div class="flex justify-center">
      <hr class="my-4 border-lila border-t-2 w-12" />
    </div>

    <p
      class="text-xl tracking-wider text-center font-rosario uppercase px-4 mx-12"
    >
      ¡Nos vemos pronto!
    </p>

    <div class="flex justify-center">
      <hr class="my-4 border-lila border-t-2 w-12" />
    </div>
  </section>
</div>
